<article class="post calendar">
  <div class="title">
    <h2>{{employee.firstname}} {{employee.lastname}}'s Schedule</h2>
  </div>
  <div>
    {{event.title}}
    <br>
    {{event.description}}
    <br>
    {{event.date}} {{event.start_time}} {{event.end_time}}
  </div>
</article>