<article class="calendar">
  <div class="title">
    <h2>Employee's Schedule</h2>
  </div>
  <div>
    {{#each calendar}}
    {{#each this}}
    <div class="event-form">
    <h4>{{title}}</h4><p class="event-id">{{id}}</p>
    <p>{{description}}</p>
    <p>{{format_date date}}</p>
    <p>{{start_time}} {{end_time}} {{employee.firstname}}</p>
    <button type="submit" class="delete-event-btn" data-id={{id}}>Delete</button>
    </div>
    {{/each}}
    {{/each}}
  </div>
</article>

{{#if loggedIn}}
<form class="add-event-form">
  <div>
    <h4>Title</h4>
    <input name="event-title">
    <br>
    <h4>Description</h4>
    <textarea name="event-description"></textarea>
    <h4>Date</h4>
    <input name="event-date">
    <h4>Start Time</h4>
    <input name="event-start_time">
    <h4>End Time</h4>
    <input name="event-end_time">
    <br>
  </div>
  <div>
    <button type="submit">Add Event</button>
  </div>
</form>
{{/if}}

{{#if loggedIn}}
<script src="/javascript/add-event.js"></script>
<script src="/javascript/delete-event.js"></script>
{{/if}}