<article class="post calendar">
  <div class="title">
    <h2>{{calendar.employee.firstname}} {{calendar.employee.lastname}}'s Schedule</h2>
  </div>
  <div class="event-form">
    {{#each calendar}}
    <h4>{{this.[0].title}}</h4>
    </p>{{this.[0].description}}</p>
    </p>{{this.[0].date}}</p>
    </p>{{this.[0].start_time}} {{this.[0].end_time}}</p>
    {{/each}}
    <div>
    <button type="submit">Update</button>
    <button type="submit">Delete</button>
  </div>
</article>

{{#if loggedIn}}
<form class="event-form">
  <div>
    <h4>Title</h4>
    <input name="event-title">
    <br>
    <h4>Description</h4>
    <textarea name="event-description"></textarea>
    <h4>Date</h4>
    <input name="event-date">
    <h4>Start Time</h4>
    <input name="event-start_time">
    <h4>End Time</h4>
    <input name="event-end_time">
    <br>
  </div>
  <div>
    <button type="submit">Add Event</button>
  </div>
</form>
{{/if}}
{{#if loggedIn}}
<script src="/javascript/event.js"></script>
{{/if}}